.main-container{
    /* border: 1px solid black;  */
    display: flex;
    flex-direction: row;
    /* height: 100%; */
    /* justify-content: space-evenly; */
    /* position: fixed; */

}

#code-content-box{
    /* border: 1px solid black; */
    /* margin: auto; */
    width: 55%;
    /* height: 600px; */
    
}
.code-block pre{
    border: 0.5px solid black;
    box-shadow: inset 4px 4px 8px #bebebe, 
    inset -4px -4px 8px #ffffff;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: start; */
}
.code-container{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    margin-left: 10px;
    width: 45%;
    /* border: 1px solid black; */
    justify-content: space-between;
    height: 650px;
    /* z-index: 7; */
    position: sticky;
    margin-top: -7px;
    top: 0;

    /* position: fixed; */
    /* margin-left: 840px; */
}

.code{
    border: 1px solid black; 
    margin: 3px;

    /* height: 100px; */
    
}

.btn{
    background-color: green;
    border: none;
    border-radius: 2px;
    height: 23px;
    color: white;
}
.btn:hover{
    cursor: pointer;
    
}